{% extends "base.html" %}
{% block title %}Content page{% endblock %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <img class="card-img-top" src="https://tinxuatkhaulaodong.com/image/data/tungtrai.jpg" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.
                    This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Posted on Feb 1, 2023</small></p>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <a href="#-2-tieu-de-thu-hai">Click</a>

    <a name="1-tieu-de-dau-tien"></a>
    <h3>1. Tieu de dau tien</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <a name="-2-tieu-de-thu-hai"></a>
    <h3>2. Tieu de thu hai</h3>
    
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <a name="3-tieu-de-thu-ba"></a>
    <h3>3. Tieu de thu ba</h3>

    <a name="3.1-tieu-de-con-dau-tien"></a>
    <h4>3.1. Tieu de con dau tien</h4>

    <a name="3.2-tieu-de-con-thu-hai"></a>
    <h4>3.2. Tieu de con thu hai</h4>

    <a name="3.2.1"></a>
    <h5>3.2.1. Tieu de chau dau tien</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

</div>


{% endblock %}