<div class="row">
    <nav class="navbar navbar-expand-lg">
        <div class="col-2">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='assets/logo.avif') }}" class="rounded logo-img float-start"
                alt="logo">
            </a>
            <nav class="navbar">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <h2>Người từng trải</h2>
                </a>
            </nav>
        </div>
        <div class="col-7"></div>
        <div class="col-3">
            <ul class="navbar-nav mr-auto">
                <div class="col-4">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</span></a>
                    </li>
                </div>
                <div class="col-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                </div>
                <div class="col-4">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary">
                            <i class="fa-regular fa-user"></i>
                        </button>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</div>
<div class="row">
    <div class="title-slogan">        
        <h1>Blog người từng trải <i class="fa-regular fa-chess-king"></i>.</h1>
        <em>Không xem những người đàn ông khác là đối thủ, vì như thế sẽ tăng giá trị cô gái và làm giảm giá trị của 2 người đàn ông.</em>
    </div>
</div>